<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat FURIA</title>
    <link rel="stylesheet" href="chat\static\chat\style.css">
</head>
<body>
    <div id="chat-box">
        <div id="messages"></div>
        <input type="text" id="input-box" placeholder="Digite sua mensagem...">
        <button id="send-button">Enviar</button>
    </div>
    <script src="chat\static\chat\script.js"></script>
</body>
</html>